<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="" class="ex01.di.MessageBeanImpl">
		<constructor-arg><value>이도연</value></constructor-arg>
		<constructor-arg value="안녕하세요"></constructor-arg>
		
	</bean>

</beans>
